.logo-icon1 {
  position: relative;
  width: 105px;
  height: 61px;
  object-fit: cover;
}
.home3 {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 20px;
}
.home2 {
  background-color: var(--uplandsoftware-com-1903x879-default-nero);
  width: 92.7px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 25.690002441406var (--padding-6xl)
    var(--padding-3xs) 25px;
  box-sizing: border-box;
}
.chevron-down-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.products3 {
  width: 132px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.symbol2 {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 16px;
  font-family: var(--font-font-awesome-5-free);
  display: none;
}
.list6 {
  width: 620.7px;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.container3,
.navbar1 {
  width: 1440px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.container3 {
  height: 61px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-0) var(--padding-41xl);
}
.navbar1 {
  background-color: var(--uplandsoftware-com-1903x879-default-nero);
  height: 125.9px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-212xl-5) var(--padding-6xl);
}
.main-child,
.pseudo-icon {
  position: absolute;
  margin: 0 !important;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
}
.main-child {
  top: 536.1px;
  max-height: 100%;
}
.pseudo-icon {
  width: 102.68%;
  top: 387.8px;
  right: -2.68%;
  height: 1200px;
  flex-shrink: 0;
}
.companies-trust-upland {
  margin: 0;
}
.companies-trust-upland-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 40px;
  display: inline-block;
  max-width: 594.4099731445312px;
}
.heading-4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 88.40997314453125px var(--padding-0)
    var(--padding-0);
}
.homepage-logos-us-rxcare2xpn-icon {
  position: relative;
  width: 145px;
  height: 120.5px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 203.1300048828125px;
}
.divcolumn5,
.divcolumn6,
.divcolumn7,
.divcolumn8,
.divcolumn9 {
  position: absolute;
  width: calc(100% - 406.3px);
  top: calc(50% - 240.8px);
  right: 406.3px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid-5) 29.070005416870117px var(--padding-3xl-5)
    29.059999465942383px;
  box-sizing: border-box;
}
.divcolumn6,
.divcolumn7,
.divcolumn8,
.divcolumn9 {
  right: 203.2px;
  left: 203.1px;
}
.divcolumn7,
.divcolumn8,
.divcolumn9 {
  right: 0;
  left: 406.3px;
}
.divcolumn8,
.divcolumn9 {
  top: calc(50% - 80.3px);
  right: 406.3px;
  left: 0;
}
.divcolumn9 {
  right: 203.2px;
  left: 203.1px;
}
.hrc-logo-whitepng-icon {
  position: relative;
  width: 145px;
  height: 82.7px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 203.1300048828125px;
}
.divcolumn10,
.divcolumn11 {
  position: absolute;
  width: calc(100% - 406.3px);
  top: calc(50% - 61.3px);
  right: 0;
  left: 406.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid-5) 29.070005416870117px var(--padding-3xl-5)
    29.059999465942383px;
  box-sizing: border-box;
}
.divcolumn11 {
  top: calc(50% + 80.3px);
  right: 406.3px;
  left: 0;
}
.divcolumns4 {
  align-self: stretch;
  position: relative;
  height: 481.6px;
}
.divcolumn4,
.divcompanies-body {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.divcompanies-body {
  align-items: center;
  padding: var(--padding-41xl) var(--padding-53xl-5) 52.500030517578125px;
  gap: var(--gap-13xl-5);
  background-image: url(./public/divcompaniesbody@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.divcolumn4 {
  width: 769.4px;
  align-items: flex-start;
  padding: var(--padding-5xs-5);
  box-sizing: border-box;
}
.home-companiespng-icon {
  position: relative;
  width: 534.6px;
  height: 536.8px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 549.5800170898438px;
}
.divcolumn12,
.divcolumns3 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.divcolumn12 {
  width: 549.6px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-5xs-5) 237.34002685546875px;
  box-sizing: border-box;
}
.divcolumns3 {
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-0) 0.010009765625px var(--padding-0) var(--padding-0);
}
.divcontainer1,
.divmodule {
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}
.divcontainer1 {
  width: 1344px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-smi-5);
  box-sizing: border-box;
  max-width: 1344px;
}
.divmodule {
  align-self: stretch;
  display: none;
  align-items: center;
  padding: var(--padding-xl) var(--padding-260xl-5) var(--padding-53xl-5);
  position: relative;
  font-size: var(--font-size-17xl);
  color: var(--uplandsoftware-com-1903x879-default-nero);
}
.cloud-products {
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  max-width: 1084.1600341796875px;
}
.spaneyebrow2 {
  align-self: stretch;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) 474.4950256347656px var(--padding-11xs)
    474.6650085449219px;
}
.big-object-utility2 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 40px;
  display: inline-block;
  max-width: 1084.1600341796875px;
}
.heading-21 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) 97.98504638671875px var(--padding-0)
    98.17498779296875px;
  font-size: var(--font-size-41xl);
}
.our-30-products {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 24px;
  display: inline-block;
  max-width: 1084.1600341796875px;
}
.ph2d-9c00a687 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) 128.99002075195312px var(--padding-0)
    129.17001342773438px;
  font-size: var(--font-size-lg);
}
.divmodule-header {
  flex-direction: column;
  gap: var(--gap-xl);
}
.divcolumn13,
.divcolumns5,
.divmodule-header {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcolumn13 {
  width: 1099.2px;
  flex-direction: column;
  padding: var(--padding-5xs-5) var(--padding-5xs-5) var(--padding-8xl-5);
  box-sizing: border-box;
}
.divcolumns5 {
  flex-direction: row;
  padding: var(--padding-0) 109.92996215820312px var(--padding-0)
    109.91000366210938px;
}
.image-1-icon {
  position: relative;
  width: 280px;
  height: 280px;
  object-fit: cover;
}
.divcolumn14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5);
}
.divcolumns6 {
  align-self: stretch;
  height: 533px;
  align-items: center;
  padding: var(--padding-0) 0.009979248046875px var(--padding-0)
    0.019999999552965164px;
  box-sizing: border-box;
}
.divcolumns6,
.divcontainer2,
.divmodule1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.divcontainer2 {
  width: 1305px;
  height: 440px;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-xs);
  box-sizing: border-box;
  max-width: 1344px;
}
.divmodule1 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-53xl-5) var(--padding-260xl-5);
  z-index: 2;
  text-align: center;
  font-size: var(--upland-helvetica-regular-1389-upper-size);
}
.reliable-products-real-container {
  position: relative;
  letter-spacing: -1.5px;
  line-height: 64px;
  display: inline-block;
  max-width: 424.6600036621094px;
}
.heading-22 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 56.660003662109375px var(--padding-0)
    var(--padding-0);
}
.explore-more-success {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 22.5px;
}
.link {
  border-radius: var(--br-6xl);
  border: 1px solid var(--uplandsoftware-com-1903x879-default-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 9.75px 43.72001647949219px 9.25px 43.91999816894531px;
}
.ph2d-db01dac8 {
  align-self: stretch;
  padding: var(--padding-0) 149.01998901367188px var(--padding-0)
    var(--padding-0);
  text-align: center;
  font-size: var(--upland-helvetica-regular-15-size);
}
.divcolumn15,
.divmodule-header1,
.ph2d-db01dac8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divmodule-header1 {
  align-self: stretch;
  gap: var(--gap-2xl);
}
.divcolumn15 {
  width: 439.7px;
  padding: var(--padding-6xs-5) var(--padding-5xs-5) var(--padding-8xl-5);
  box-sizing: border-box;
}
.button-nestle {
  position: relative;
  z-index: 0;
}
.pseudo {
  position: absolute;
  margin: 0 !important;
  width: 103.97%;
  top: 32px;
  right: -3.97%;
  left: 0;
  background-color: var(--uplandsoftware-com-1903x879-default-black);
  height: 5px;
  z-index: 1;
}
.item19,
.itemmargin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.item19 {
  padding: var(--padding-6xs) var(--padding-0);
  position: relative;
}
.itemmargin {
  padding: var(--padding-0) 42.910003662109375px var(--padding-0)
    var(--padding-0);
}
.item-button {
  position: relative;
}
.itemmargin1,
.itemmargin2,
.list7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 44.55500030517578px var(--padding-6xs)
    4.754997253417969px;
}
.itemmargin2,
.list7 {
  padding: var(--padding-6xs) 46.32000732421875px var(--padding-6xs)
    6.519989013671875px;
}
.list7 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-0) 300.3499755859375px var(--padding-0)
    var(--padding-0);
}
.success-story-nestle-692x2502-icon {
  position: relative;
  width: 672px;
  height: 243px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 672px;
}
.divss-image {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-upland-circle-blacksvg-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-upland-circle-blacksvg-f,
.spanupl-circle-header {
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-upland-circle-blacksvg-f {
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.spanupl-circle-header {
  align-self: stretch;
}
.rightanswers {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 20px;
  display: inline-block;
  max-width: 339.0799865722656px;
}
.plogo-name-lockup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 230.07998657226562px var(--padding-12xs)
    var(--padding-0);
  gap: var(--gap-8xs);
  font-size: var(--upland-helvetica-regular-14-upper-size);
}
.nestl-ensures-employees-container {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 28px;
  display: inline-block;
  max-width: 339.0799865722656px;
}
.heading-53 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 62.079986572265625px var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-5xl);
}
.as-in-any-container {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 22px;
  display: inline-block;
  max-width: 339.0799865722656px;
}
.ph2d-ab6ac9b4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 63.079986572265625px var(--padding-0)
    var(--padding-0);
}
.strong-read {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 22px;
  display: inline-block;
  max-width: 82.33000183105469px;
}
.link1 {
  position: absolute;
  bottom: -73px;
  left: 0;
  width: 82.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 5.3300018310546875px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.pis-hidden-mobile {
  align-self: stretch;
  position: relative;
  height: 1px;
}
.divcolumn17 {
  align-self: stretch;
  width: 354.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) var(--padding-5xs-5) var(--padding-6xs-5);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.logos-nestlepng-icon {
  position: relative;
  width: 150px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 150px;
  max-height: 50px;
}
.spanss-stat {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 71.75px var(--padding-10xs) var(--padding-0);
  z-index: 0;
}
.customer {
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  max-width: 136.75px;
}
.spanss-label {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 13.75px var(--padding-11xs) var(--padding-0);
  gap: var(--gap-10xs);
  z-index: 1;
  font-size: var(--upland-helvetica-regular-14-upper-size);
}
.pseudo1 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  background-color: var(--uplandsoftware-com-1903x879-default-black);
  width: 50px;
  height: 5px;
  z-index: 2;
}
.divcolumn18,
.divss-stat-lockup {
  align-self: stretch;
  flex-direction: column;
}
.divss-stat-lockup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-0) var(--padding-0);
  position: relative;
}
.divcolumn18 {
  padding: var(--padding-5xs-5) var(--padding-5xs-5) var(--padding-99xl-5);
  gap: var(--gap-xl);
}
.divcolumn18,
.divcolumnmargin1,
.divcolumns8,
.divslider-slot,
.divss-body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcolumnmargin1 {
  width: 202.3px;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    50.57809829711914px;
  box-sizing: border-box;
  font-size: var(--upland-helvetica-regular-32-size);
}
.divcolumns8,
.divslider-slot,
.divss-body {
  align-self: stretch;
}
.divcolumns8 {
  flex-direction: row;
  padding: var(--padding-0) 50.589996337890625px var(--padding-0)
    var(--padding-0);
}
.divslider-slot,
.divss-body {
  flex-direction: column;
  box-sizing: border-box;
}
.divss-body {
  height: 428px;
  padding: var(--padding-13xl-5) var(--padding-13xl-5) var(--padding-79xl-5);
  background-image: url(./public/divssbody@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 394px;
}
.divslider-slot {
  width: 692px;
  padding: var(--padding-0) var(--padding-xl) var(--padding-0) var(--padding-0);
  max-width: 700px;
  min-height: 1px;
}
.ss-featured-002png-icon {
  position: relative;
  width: 672px;
  height: 242.8px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 672px;
}
.plogo-name-lockup1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 228.07998657226562px var(--padding-12xs)
    var(--padding-0);
  gap: var(--gap-8xs);
  font-size: var(--upland-helvetica-regular-14-upper-size);
}
.heading-54 {
  align-self: stretch;
  padding: var(--padding-0) 18.079986572265625px var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-5xl);
}
.heading-54,
.link2,
.ph2d-fc57ea5b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ph2d-fc57ea5b {
  align-self: stretch;
  padding: var(--padding-0) 24.079986572265625px var(--padding-0)
    var(--padding-0);
}
.link2 {
  position: absolute;
  bottom: -101px;
  left: 0;
  width: 82.3px;
  padding: var(--padding-0) 5.3300018310546875px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.mm {
  position: relative;
  display: inline-block;
  max-width: 136.75px;
}
.spanss-label1,
.spanss-stat1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 21.75px var(--padding-9xs) var(--padding-0);
  z-index: 0;
}
.spanss-label1 {
  padding: var(--padding-12xs) 8.75px var(--padding-11xs) var(--padding-0);
  gap: var(--gap-10xs);
  z-index: 1;
  font-size: var(--upland-helvetica-regular-14-upper-size);
}
.divcolumnmargin2,
.divss-body1 {
  flex-direction: column;
  box-sizing: border-box;
}
.divcolumnmargin2 {
  width: 202.3px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) 7.499996185302734px var(--padding-103xl-5)
    58.07809829711914px;
  font-size: var(--upland-helvetica-regular-3163-size);
}
.divss-body1 {
  height: 428px;
  padding: var(--padding-13xl-5) var(--padding-13xl-5) var(--padding-107xl-5);
  background-image: url(./public/divssbody1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 394px;
  margin-top: -0.01px;
}
.divss-body1,
.heading-55,
.plogo-name-lockup2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.plogo-name-lockup2 {
  flex-direction: row;
  padding: var(--padding-12xs) 261.0799865722656px var(--padding-12xs)
    var(--padding-0);
  gap: var(--gap-8xs);
  font-size: var(--upland-helvetica-regular-14-upper-size);
}
.heading-55 {
  flex-direction: column;
  padding: var(--padding-0) 75.07998657226562px var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-5xl);
}
.ph2d-59144c45 {
  align-self: stretch;
  padding: var(--padding-0) 38.079986572265625px var(--padding-0)
    var(--padding-0);
}
.link3,
.ph2d-59144c45,
.spanss-label2,
.spanss-stat2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link3 {
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 82.3px;
  padding: var(--padding-0) 5.3300018310546875px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.spanss-label2,
.spanss-stat2 {
  align-self: stretch;
  padding: var(--padding-10xs) 9.75px var(--padding-10xs) var(--padding-0);
  gap: var(--gap-7xs);
  z-index: 0;
}
.spanss-label2 {
  padding: var(--padding-12xs) 10.75px var(--padding-11xs) var(--padding-0);
  gap: var(--gap-10xs);
  z-index: 1;
  font-size: var(--upland-helvetica-regular-14-upper-size);
}
.divcolumnmargin3,
.divslider-slot2,
.divss-body2 {
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.divcolumnmargin3 {
  width: 202.3px;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) 7.499996185302734px var(--padding-154xl-5)
    58.07809829711914px;
  font-size: var(--upland-helvetica-regular-32-size);
}
.divslider-slot2,
.divss-body2 {
  align-self: stretch;
}
.divss-body2 {
  height: 428px;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-13xl-5);
  background-image: url(./public/divssbody2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 394px;
}
.divslider-slot2 {
  width: 692px;
  padding: 244.14999389648438px var(--padding-xl) 0.009979248046875px
    var(--padding-0);
  max-width: 700px;
  min-height: 1px;
}
.divslick-list,
.divslick-track,
.divslider-slot2 {
  display: flex;
  justify-content: flex-start;
}
.divslick-track {
  width: 15000px;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-12905xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.divslick-list {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12845xl);
}
.divcolumn16,
.divslider-wrapper {
  flex-direction: column;
  align-items: flex-start;
}
.divslider-wrapper {
  width: 2136px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.divcolumn16 {
  align-self: stretch;
  padding: var(--padding-5xs-5) var(--padding-0) var(--padding-5xs-5)
    var(--padding-5xs-5);
  gap: var(--gap-21xl);
}
.divcolumn16,
.divcolumnmargin,
.divcolumns7 {
  display: flex;
  justify-content: flex-start;
}
.divcolumnmargin {
  width: 879.3px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) 0.00000762939453125px var(--padding-0)
    109.90599822998047px;
  box-sizing: border-box;
  margin-left: -0.01px;
  text-align: center;
  font-size: var(--upland-helvetica-regular-16-size);
}
.divcolumns7 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-0) 0.030029296875px var(--padding-0) var(--padding-0);
}
.divcontainer3,
.divmodule2 {
  flex-direction: column;
  justify-content: flex-start;
}
.divcontainer3 {
  width: 1344px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-smi-5);
  box-sizing: border-box;
  max-width: 1344px;
}
.divmodule2 {
  align-self: stretch;
  display: none;
  align-items: center;
  padding: var(--padding-53xl-5) var(--padding-260xl-5);
  z-index: 3;
}
.pseudo-icon1 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 690px;
  flex-shrink: 0;
  z-index: 0;
}
.pseudo-icon1,
.pseudo-icon2,
.pseudo-icon3 {
  position: absolute;
  margin: 0 !important;
  object-fit: cover;
}
.pseudo-icon2 {
  top: 178.7px;
  left: 0;
  width: 1159px;
  height: 1107px;
  opacity: 0.6;
  z-index: 1;
}
.pseudo-icon3 {
  top: -20px;
  left: -20px;
  width: 234px;
  height: 272px;
  z-index: 0;
}
.upland-delivers-confidence {
  position: relative;
  letter-spacing: -1.5px;
  line-height: 64px;
  display: inline-block;
  max-width: 864.3300170898438px;
}
.heading-23 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) 81.57502746582031px var(--padding-0)
    81.75498962402344px;
}
.our-team-brings1 {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 24px;
  display: inline-block;
  max-width: 864.3300170898438px;
}
.ph2d-e6e43e55 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-0) 46.565032958984375px var(--padding-0)
    46.764984130859375px;
  font-size: var(--font-size-lg);
}
.link4,
.ph2d-48f71c77,
.ph2d-e6e43e55 {
  display: flex;
  align-items: center;
}
.link4 {
  border-radius: var(--br-6xl);
  background-color: var(--uplandsoftware-com-1903x879-default-japanese-laurel);
  border: 1px solid var(--uplandsoftware-com-1903x879-default-japanese-laurel);
  flex-direction: row;
  justify-content: center;
  padding: 9.75px 41.26499938964844px 9.25px 41.464996337890625px;
}
.ph2d-48f71c77 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-0) 338.300048828125px var(--padding-0)
    338.29998779296875px;
  font-size: var(--upland-helvetica-regular-15-size);
  color: var(--uplandsoftware-com-1903x879-default-black);
}
.divmodule-header2 {
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-0) var(--padding-41xl);
  gap: var(--gap-xl);
}
.divcolumn21,
.divcolumns11,
.divmodule-header2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcolumn21 {
  width: 879.3px;
  flex-direction: column;
  padding: var(--padding-5xs-5);
  box-sizing: border-box;
}
.divcolumns11 {
  flex-direction: row;
  padding: var(--padding-0) 219.83998107910156px var(--padding-0)
    219.8300018310547px;
  z-index: 1;
}
.global-users1 {
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  max-width: 634.4099731445312px;
}
.spaneyebrow3 {
  position: absolute;
  width: calc(100% - 120px);
  top: 245px;
  right: 60px;
  left: 60px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 504.40997314453125px var(--padding-11xs)
    var(--padding-0);
  box-sizing: border-box;
}
.curve-confidencesvg-fill-icon {
  position: relative;
  width: 1200px;
  height: 1200px;
  overflow: hidden;
  flex-shrink: 0;
}
.pseudo4 {
  position: absolute;
  top: -324px;
  left: -435.6px;
  width: 1200px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div6 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 105px;
  display: inline-block;
  max-width: 634.4099731445312px;
}
.heading-41 {
  position: absolute;
  width: calc(100% - 120px);
  top: 120px;
  right: 60px;
  left: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 109.40997314453125px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  font-size: var(--font-size-86xl);
}
.our-products-address-container1 {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 28px;
  display: inline-block;
  max-width: 380.6400146484375px;
}
.ph2d-efcb0fea {
  position: absolute;
  width: calc(100% - 373.8px);
  top: 324px;
  right: 313.8px;
  left: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 40.6400146484375px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.divexpertise-body {
  align-self: stretch;
  position: relative;
  height: 496px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(./public/divexpertisebody@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.divcolumn22 {
  align-self: stretch;
  width: 769.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-48xl-5) var(--padding-5xs-5) 112.16998291015625px;
  box-sizing: border-box;
}
.home-confidencepng-icon1 {
  position: relative;
  width: 534.6px;
  height: 655.7px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 549.5800170898438px;
}
.divcolumn23,
.divcolumns12 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcolumn23 {
  width: 549.6px;
  flex-direction: column;
  padding: var(--padding-5xs-5) var(--padding-5xs-5) var(--padding-smi-5);
  box-sizing: border-box;
}
.divcolumns12 {
  flex-direction: row;
  padding: var(--padding-0) 0.010009765625px var(--padding-0) var(--padding-0);
  z-index: 2;
  text-align: left;
  font-size: var(--upland-helvetica-regular-14-upper-size);
  color: var(--uplandsoftware-com-1903x879-default-black);
}
.pseudo-icon4 {
  position: absolute;
  margin: 0 !important;
  top: -20px;
  left: 1147px;
  width: 217px;
  height: 251px;
  object-fit: cover;
  z-index: 3;
}
.divcontainer4,
.divmodule3 {
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.divcontainer4 {
  width: 1344px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-smi-5);
  box-sizing: border-box;
  max-width: 1344px;
  z-index: 2;
}
.divmodule3 {
  align-self: stretch;
  display: none;
  align-items: center;
  padding: var(--padding-53xl-5) var(--padding-260xl-5) 72.50006103515625px;
  z-index: 4;
  text-align: center;
  color: var(--uplandsoftware-com-1903x879-default-nero);
}
.divcolumn-icon {
  max-height: 100%;
  width: 543.3px;
  object-fit: cover;
}
.altify-black-and-white-logosv-icon {
  position: relative;
  width: 228.3px;
  height: 83px;
  overflow: hidden;
  flex-shrink: 0;
}
.altify-black-and-white-logosv,
.altify-black-and-white-logosv1 {
  height: 83px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.altify-black-and-white-logosv1 {
  width: 228.3px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-0) 1.4210854715202004e-14px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.altify-black-and-white-logosv {
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 472px;
  max-height: 83px;
}
.our-deal-size-container {
  position: relative;
  letter-spacing: -0.6px;
  line-height: 43px;
  display: inline-block;
  max-width: 472px;
}
.ph2d-6284e7d1 {
  width: 472px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-14xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.autodesk-black-and-white-logo-icon {
  position: relative;
  width: 99px;
  height: 19.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.autodesk-black-and-white-logo1 {
  width: 99px;
  height: 19.8px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.autodesk-black-and-white-logo,
.divauthor-logo,
.divauthor-logomargin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.autodesk-black-and-white-logo {
  width: 99px;
  overflow: hidden;
  max-width: 130px;
}
.divauthor-logo,
.divauthor-logomargin {
  box-sizing: border-box;
}
.divauthor-logo {
  border-right: 1px solid var(--uplandsoftware-com-1903x879-default-thunder);
  padding: var(--padding-0) var(--padding-12xl) var(--padding-0)
    var(--padding-0);
  max-width: 130px;
}
.divauthor-logomargin {
  position: absolute;
  top: 14.1px;
  left: 0;
  padding: var(--padding-0) var(--padding-11xl) var(--padding-0)
    var(--padding-0);
  max-width: 160px;
}
.strong-adrienne-container {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 16px;
}
.ph2d-24f89154 {
  position: absolute;
  top: calc(50% - 25px);
  left: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-56xl) var(--padding-0)
    var(--padding-0);
}
.divauthor {
  position: relative;
  width: 472px;
  height: 48px;
  font-size: var(--upland-helvetica-regular-14-upper-size);
}
.link-learn {
  position: relative;
  text-decoration: underline;
  letter-spacing: -0.3px;
  line-height: 16px;
  display: inline-block;
  max-width: 472px;
}
.blockquote,
.pcta {
  width: 472px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pcta {
  align-items: flex-start;
  padding: var(--padding-20xl) var(--padding-355xl) var(--padding-10xs)
    var(--padding-0);
  box-sizing: border-box;
  font-size: var(--font-size-lgi-6);
}
.blockquote {
  height: 394px;
  align-items: center;
}
.divtestimonial-body {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-81xl) var(--padding-81xl) var(--padding-76xl)
    var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  min-height: 500px;
}
.divcolumn24,
.divcolumns13,
.divtestimonial-body {
  display: flex;
  justify-content: flex-start;
}
.divcolumn24 {
  width: 652px;
  flex-direction: column;
  align-items: flex-start;
}
.divcolumns13 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-0) 108.66998291015625px var(--padding-0)
    var(--padding-0);
  background-image: url(./public/divcolumns@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.divcontainer5,
.divmodule4 {
  flex-direction: column;
  justify-content: flex-start;
}
.divcontainer5 {
  width: 1344px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-xl);
  box-sizing: border-box;
  max-width: 1344px;
}
.divmodule4 {
  align-self: stretch;
  display: none;
  align-items: center;
  padding: var(--padding-101xl) var(--padding-260xl-5);
  z-index: 5;
  font-size: var(--upland-helvetica-regular-32-size);
}
.related-topics {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 22px;
}
.big-object-to {
  margin-bottom: 0;
}
.big-object-to-create-tabs-for {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.big-object-to-container {
  position: relative;
  font-size: var(--font-inherit);
  line-height: 45.5px;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 754px;
}
.related-topics-parent {
  background-color: #efefef;
  width: 1293px;
  align-items: flex-start;
  padding: var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  z-index: 6;
  font-size: var(--font-size-5xl);
  color: var(--uplandsoftware-com-1903x879-default-thunder);
}
.logo1,
.main1,
.related-topics-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main1 {
  background-color: var(--uplandsoftware-com-1903x879-default-nero);
  width: 1440px;
  height: 1351px;
  align-items: center;
  position: relative;
  min-height: 400px;
  font-size: var(--font-size-41xl);
}
.logo1 {
  align-self: stretch;
  height: 142.3px;
  align-items: flex-start;
  padding: var(--padding-5xs-5) var(--padding-1116xl-5) 73.75px
    var(--padding-5xs-5);
  box-sizing: border-box;
}
.link-adestra1,
.link-view1,
.products5 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 242.08999633789062px;
}
.products5 {
  font-size: var(--font-size-xs);
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 2;
}
.link-adestra1,
.link-view1 {
  letter-spacing: -0.3px;
  z-index: 1;
}
.link-view1 {
  z-index: 0;
}
.div7 {
  align-self: stretch;
  width: 257.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) var(--padding-5xs-5) var(--padding-50xl-5);
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--upland-helvetica-regular-14-upper-size);
}
.job-functions1 {
  position: relative;
  letter-spacing: 2px;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
  max-width: 242.08999633789062px;
}
.spanfooter-header3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 121.08999633789062px var(--padding-0)
    var(--padding-0);
  z-index: 1;
}
.link-business1 {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 22px;
  display: inline-block;
  max-width: 242.08999633789062px;
}
.item20,
.item21 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 118.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item21 {
  padding: var(--padding-0) 151.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item22 {
  padding: var(--padding-0) 173.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item22,
.item23,
.item24,
.item25,
.item26,
.item27 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.item23 {
  padding: var(--padding-0) 229.08999633789062px var(--padding-0)
    var(--padding-0);
  font-size: var(--upland-helvetica-regular-1389-upper-size);
}
.item24,
.item25,
.item26,
.item27 {
  padding: var(--padding-0) 92.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item25,
.item26,
.item27 {
  padding: var(--padding-0) 182.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item26,
.item27 {
  padding: var(--padding-0) 117.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item27 {
  padding: var(--padding-0) 208.08999633789062px var(--padding-0)
    var(--padding-0);
}
.div8,
.list8 {
  gap: var(--gap-xl);
}
.list8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
  font-size: var(--upland-helvetica-regular-14-upper-size);
}
.div8 {
  width: 257.1px;
  padding: var(--padding-5xs-5) var(--padding-5xs-5) var(--padding-8xl-5);
  box-sizing: border-box;
}
.div8,
.item28,
.item30,
.item31,
.item32,
.item33,
.item34,
.spanfooter-header4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.spanfooter-header4 {
  padding: var(--padding-0) 170.08999633789062px var(--padding-0)
    var(--padding-0);
  z-index: 1;
}
.item28,
.item30,
.item31,
.item32,
.item33,
.item34 {
  padding: var(--padding-0) 206.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item30,
.item31,
.item32,
.item33,
.item34 {
  padding: var(--padding-0) 193.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item31,
.item32,
.item33,
.item34 {
  padding: var(--padding-0) 207.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item32,
.item33,
.item34 {
  padding: var(--padding-0) 134.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item33,
.item34 {
  padding: var(--padding-0) 123.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item34 {
  padding: var(--padding-0) 194.08999633789062px var(--padding-0)
    var(--padding-0);
}
.div9 {
  width: 257.1px;
  padding: var(--padding-5xs-5) var(--padding-5xs-5) var(--padding-50xl-5);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.div9,
.item35,
.item36,
.item37,
.spanfooter-header5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.spanfooter-header5 {
  padding: var(--padding-0) 164.08999633789062px var(--padding-0)
    var(--padding-0);
  z-index: 1;
}
.item35,
.item36,
.item37 {
  padding: var(--padding-0) 200.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item36,
.item37 {
  padding: var(--padding-0) 145.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item37 {
  padding: var(--padding-0) 177.08999633789062px var(--padding-0)
    var(--padding-0);
}
.item38 {
  padding: var(--padding-0) 195.08999633789062px var(--padding-0)
    var(--padding-0);
}
.div10,
.item38,
.paddress1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div10 {
  width: 257.1px;
  padding: var(--padding-5xs-5) var(--padding-5xs-5) var(--padding-176xl-5);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.paddress1 {
  padding: var(--padding-0) 38.089996337890625px var(--padding-0)
    var(--padding-0);
}
.facebooksvg-fill1 {
  overflow: hidden;
  flex-shrink: 0;
}
.facebooksvg-fill1,
.item-link7 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.twittersvg-icon1 {
  position: relative;
  width: 30px;
  height: 24px;
}
.twittersvg-fill1,
.twittersvg-icon1 {
  overflow: hidden;
  flex-shrink: 0;
}
.item-link8,
.twittersvg-fill1 {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list11 {
  flex-direction: row;
  padding: var(--padding-0) 117.75px var(--padding-xl) var(--padding-0);
  gap: var(--gap-4xl-2);
}
.column11,
.div11,
.list11 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div11 {
  border-left: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 290.6px;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-5xs-5) var(--padding-226xl-5)
    var(--padding-22xl);
  gap: var(--gap-12xl);
  font-size: var(--upland-helvetica-regular-14-upper-size);
}
.column11 {
  flex-direction: row;
  padding: var(--padding-0) 0.029998779296875px var(--padding-0)
    var(--padding-0);
}
.cloudbat-technologies-inc1 {
  position: relative;
  line-height: 22px;
}
.text-copyrigh1 {
  flex: 1;
  height: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 15.110000610351562px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.item-link10,
.item-link11,
.item-link12,
.item-link13 {
  position: absolute;
  top: 0;
  left: 20px;
  letter-spacing: -0.3px;
  line-height: 22px;
}
.item-link11,
.item-link12,
.item-link13 {
  left: 89.4px;
}
.item-link12,
.item-link13 {
  left: 190.4px;
}
.item-link13 {
  left: 364.1px;
}
.list12 {
  position: relative;
  width: 459px;
  height: 22px;
}
.copyright1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer1,
.footercontainer1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.footercontainer1 {
  width: 1344px;
  height: 575.3px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-smi-5);
  max-width: 1344px;
}
.footer1 {
  width: 1440px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-47xl-5) var(--padding-260xl-5) var(--padding-13xl-5);
  background-image: url(./public/footer1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-xs);
  color: var(--uplandsoftware-com-1903x879-default-nero);
}
.big-object-utility1 {
  position: relative;
  background-color: var(--uplandsoftware-com-1903x879-default-nero);
  width: 100%;
  height: 2138px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--upland-helvetica-regular-16-size);
  color: var(--uplandsoftware-com-1903x879-default-black);
  font-family: var(--upland-helvetica-regular-14-upper);
}
